html {
    font-family: monospace;
    height: 100%;
    background-image: linear-gradient(blue,purple,pink);
    background-repeat: no-repeat;
}

div {
    color: black;
    text-align: center;
    text-shadow: 0 0 3px black;
}